In [2]:
Question

1)What is relationship between gender and survival?

2)What is relationship between class and survival?

3)What is relationship between class,gender and survival?

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
titanic_df = pd.read_csv('titanic_data.csv')
print titanic_df

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
5              6         0       3
6              7         0       1
7              8         0       3
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
12            13         0       3
13            14         0       3
14            15         0       3
15            16         1       2
16            17         0       3
17            18         1       2
18            19         0       3
19            20         1       3
20            21         0       2
21            22         1       2
22            23         1       3
23            24         1       1
24            25         0       3
25            26         1       3
26            27         0       3
27            28         0       1
28            29         1       3
29            30         0       3
..           ...       ...     ...
861          862         0       2
862          863         1       1
863          864         0       3
864          865         0       2
865          866         1       2
866          867         1       2
867          868         0       1
868          869         0       3
869          870         1       3
870          871         0       3
871          872         1       1
872          873         0       1
873          874         0       3
874          875         1       2
875          876         1       3
876          877         0       3
877          878         0       3
878          879         0       3
879          880         1       1
880          881         1       2
881          882         0       3
882          883         0       3
883          884         0       2
884          885         0       3
885          886         0       3
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex  Age  SibSp  \
0                              Braund, Mr. Owen Harris    male   22      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female   38      1
2                               Heikkinen, Miss. Laina  female   26      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female   35      1
4                             Allen, Mr. William Henry    male   35      0
5                                     Moran, Mr. James    male  NaN      0
6                              McCarthy, Mr. Timothy J    male   54      0
7                       Palsson, Master. Gosta Leonard    male    2      3
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female   27      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female   14      1
10                     Sandstrom, Miss. Marguerite Rut  female    4      1
11                            Bonnell, Miss. Elizabeth  female   58      0
12                      Saundercock, Mr. William Henry    male   20      0
13                         Andersson, Mr. Anders Johan    male   39      1
14                Vestrom, Miss. Hulda Amanda Adolfina  female   14      0
15                    Hewlett, Mrs. (Mary D Kingcome)   female   55      0
16                                Rice, Master. Eugene    male    2      4
17                        Williams, Mr. Charles Eugene    male  NaN      0
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...  female   31      1
19                             Masselmani, Mrs. Fatima  female  NaN      0
20                                Fynney, Mr. Joseph J    male   35      0
21                               Beesley, Mr. Lawrence    male   34      0
22                         McGowan, Miss. Anna "Annie"  female   15      0
23                        Sloper, Mr. William Thompson    male   28      0
24                       Palsson, Miss. Torborg Danira  female    8      3
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female   38      1
26                             Emir, Mr. Farred Chehab    male  NaN      0
27                      Fortune, Mr. Charles Alexander    male   19      3
28                       O'Dwyer, Miss. Ellen "Nellie"  female  NaN      0
29                                 Todoroff, Mr. Lalio    male  NaN      0
..                                                 ...     ...  ...    ...
861                        Giles, Mr. Frederick Edward    male   21      1
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female   48      0
863                  Sage, Miss. Dorothy Edith "Dolly"  female  NaN      8
864                             Gill, Mr. John William    male   24      0
865                           Bystrom, Mrs. (Karolina)  female   42      0
866                       Duran y More, Miss. Asuncion  female   27      1
867               Roebling, Mr. Washington Augustus II    male   31      0
868                        van Melkebeke, Mr. Philemon    male  NaN      0
869                    Johnson, Master. Harold Theodor    male    4      1
870                                  Balkic, Mr. Cerin    male   26      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female   47      1
872                           Carlsson, Mr. Frans Olof    male   33      0
873                        Vander Cruyssen, Mr. Victor    male   47      0
874              Abelson, Mrs. Samuel (Hannah Wizosky)  female   28      1
875                   Najib, Miss. Adele Kiamie "Jane"  female   15      0
876                      Gustafsson, Mr. Alfred Ossian    male   20      0
877                               Petroff, Mr. Nedelio    male   19      0
878                                 Laleff, Mr. Kristo    male  NaN      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female   56      0
880       Shelley, Mrs. William (Imanita Parrish Hall)  female   25      0
881                                 Markun, Mr. Johann    male   33      0
882                       Dahlberg, Miss. Gerda Ulrika  female   22      0
883                      Banfield, Mr. Frederick James    male   28      0
884                             Sutehall, Mr. Henry Jr    male   25      0
885               Rice, Mrs. William (Margaret Norton)  female   39      0
886                              Montvila, Rev. Juozas    male   27      0
887                       Graham, Miss. Margaret Edith  female   19      0
888           Johnston, Miss. Catherine Helen "Carrie"  female  NaN      1
889                              Behr, Mr. Karl Howell    male   26      0
890                                Dooley, Mr. Patrick    male   32      0

     Parch            Ticket      Fare        Cabin Embarked
0        0         A/5 21171    7.2500          NaN        S
1        0          PC 17599   71.2833          C85        C
2        0  STON/O2. 3101282    7.9250          NaN        S
3        0            113803   53.1000         C123        S
4        0            373450    8.0500          NaN        S
5        0            330877    8.4583          NaN        Q
6        0             17463   51.8625          E46        S
7        1            349909   21.0750          NaN        S
8        2            347742   11.1333          NaN        S
9        0            237736   30.0708          NaN        C
10       1           PP 9549   16.7000           G6        S
11       0            113783   26.5500         C103        S
12       0         A/5. 2151    8.0500          NaN        S
13       5            347082   31.2750          NaN        S
14       0            350406    7.8542          NaN        S
15       0            248706   16.0000          NaN        S
16       1            382652   29.1250          NaN        Q
17       0            244373   13.0000          NaN        S
18       0            345763   18.0000          NaN        S
19       0              2649    7.2250          NaN        C
20       0            239865   26.0000          NaN        S
21       0            248698   13.0000          D56        S
22       0            330923    8.0292          NaN        Q
23       0            113788   35.5000           A6        S
24       1            349909   21.0750          NaN        S
25       5            347077   31.3875          NaN        S
26       0              2631    7.2250          NaN        C
27       2             19950  263.0000  C23 C25 C27        S
28       0            330959    7.8792          NaN        Q
29       0            349216    7.8958          NaN        S
..     ...               ...       ...          ...      ...
861      0             28134   11.5000          NaN        S
862      0             17466   25.9292          D17        S
863      2          CA. 2343   69.5500          NaN        S
864      0            233866   13.0000          NaN        S
865      0            236852   13.0000          NaN        S
866      0     SC/PARIS 2149   13.8583          NaN        C
867      0          PC 17590   50.4958          A24        S
868      0            345777    9.5000          NaN        S
869      1            347742   11.1333          NaN        S
870      0            349248    7.8958          NaN        S
871      1             11751   52.5542          D35        S
872      0               695    5.0000  B51 B53 B55        S
873      0            345765    9.0000          NaN        S
874      0         P/PP 3381   24.0000          NaN        C
875      0              2667    7.2250          NaN        C
876      0              7534    9.8458          NaN        S
877      0            349212    7.8958          NaN        S
878      0            349217    7.8958          NaN        S
879      1             11767   83.1583          C50        C
880      1            230433   26.0000          NaN        S
881      0            349257    7.8958          NaN        S
882      0              7552   10.5167          NaN        S
883      0  C.A./SOTON 34068   10.5000          NaN        S
884      0   SOTON/OQ 392076    7.0500          NaN        S
885      5            382652   29.1250          NaN        Q
886      0            211536   13.0000          NaN        S
887      0            112053   30.0000          B42        S
888      2        W./C. 6607   23.4500          NaN        S
889      0            111369   30.0000         C148        C
890      0            370376    7.7500          NaN        Q

[891 rows x 12 columns]

In [3]:
#Find possible values of survival, class, age and Embark 

print "Unique values of survived:",titanic_df.Survived.unique()

print "Unique values of class of travel:",titanic_df.Pclass.unique()

print "Unique gender of people:", titanic_df.Sex.unique()

print "Unique class of travel:", titanic_df.Embarked.unique()

print "Unique age of people:", titanic_df.Age.unique()

print "Unique values for sibling and Spouse", titanic_df.SibSp.unique()

print "Total Number of People Travelled:", titanic_df.count()
titanic_df_without_na_age = titanic_df.dropna(subset=['Age'], how='all')
titanic_df_without_na_age_embark =  titanic_df_without_na_age.dropna(subset=['Embarked'], how='all')
titanic_df_cleaned = titanic_df_without_na_age_embark
print "Total Number of People After Cleaning",titanic_df_cleaned.count()
#print "Total Number of People Travelled:", titanic_df_without_na_age.count()
#print "Total Number of People Travelled:", titanic_df_without_na_age_embark.count()
#titanic_df_age_cleaned = titanic_df_without_na_age.Age.apply(np.floor)
#titanic_df_age_clean = titanic_df_without_na_age.apply(np.ceil)
#print "Unique age of people:", titanic_df_without_na_age.Age.unique()

Unique values of survived: [0 1]
Unique values of class of travel: [3 1 2]
Unique gender of people: ['male' 'female']
Unique class of travel: ['S' 'C' 'Q' nan]
Unique age of people: [ 22.    38.    26.    35.      nan  54.     2.    27.    14.     4.    58.
  20.    39.    55.    31.    34.    15.    28.     8.    19.    40.    66.
  42.    21.    18.     3.     7.    49.    29.    65.    28.5    5.    11.
  45.    17.    32.    16.    25.     0.83  30.    33.    23.    24.    46.
  59.    71.    37.    47.    14.5   70.5   32.5   12.     9.    36.5   51.
  55.5   40.5   44.     1.    61.    56.    50.    36.    45.5   20.5   62.
  41.    52.    63.    23.5    0.92  43.    60.    10.    64.    13.    48.
   0.75  53.    57.    80.    70.    24.5    6.     0.67  30.5    0.42
  34.5   74.  ]
Unique values for sibling and Spouse [1 0 3 4 2 5 8]
Total Number of People Travelled: PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64
Total Number of People After Cleaning PassengerId    712
Survived       712
Pclass         712
Name           712
Sex            712
Age            712
SibSp          712
Parch          712
Ticket         712
Fare           712
Cabin          183
Embarked       712
dtype: int64

In [10]:
#print titanic_df_cleaned

def group_by_survived_percent(data,col):
    
    sum_survived_by_col = data.groupby(col).sum()['Survived']
    count_survived_by_col = data.groupby(col).size()
    percent_survived = ((sum_survived_by_col) / count_survived_by_col)*100 
    percent_survived_df = pd.DataFrame(percent_survived).reset_index()
    #sum_survived_by_col_df = pd.DataFrame(sum_survived_by_col).reset_index()
    #sum_survived_by_col_df = sum_survived_by_col_df.rename(columns={0: 'CountAlive'})
    #count_survived_by_col_df = count_survived_by_col_df
    #sum_survived_by_col_df
    percent_survived_df = percent_survived_df.rename(columns={0: 'percentAlive'})
    percent_survived_df['percentDeceased'] = (100 - percent_survived_df['percentAlive']) 
    
    return percent_survived_df,

In [65]:
def group_by_survived_count(data,col):
    sum_survived_by_col = data.groupby(col).sum()['Survived']
    count_survived_by_col_df = data.groupby(col).size().reset_index()
    #print count_survived_by_col_df
    #sum_survived_by_col = count_survived_by_col - sum_survived_by_col
    sum_survived_by_col_df = pd.DataFrame(sum_survived_by_col).reset_index()
    sum_survived_by_col_df['deceased'] = count_survived_by_col_df[0] - sum_survived_by_col_df['Survived']
    #sum_survived_by_col_df = sum_survived_by_col_df.rename(columns={0: 'CountAlive'})
    return sum_survived_by_col_df

In [66]:
def group_by_survived_percent_multiple(data,col):
    
    sum_survived_by_col = data.groupby(col).sum()['Survived']
    count_survived_by_col = data.groupby(col).size()
    percent_survived = ((sum_survived_by_col) / count_survived_by_col)*100 
    return percent_survived

In [68]:
#Determines relationship between gender and survival


percent_survived_by_sex_df = group_by_survived_percent(titanic_df_cleaned,'Sex')
count_survived_by_sex_df = group_by_survived_count(titanic_df_cleaned,'Sex')
print count_survived_by_sex_df
print percent_survived_by_sex_df

      Sex  Survived  deceased
0  female       195        64
1    male        93       360
      Sex  percentAlive  percentDeceased
0  female     75.289575        24.710425
1    male     20.529801        79.470199

In [70]:
#Determines relationship between class and survival


percent_survived_by_class_df = group_by_survived_percent(titanic_df_cleaned,'Pclass')
count_survived_by_class_df   = group_by_survived_count(titanic_df_cleaned,'Pclass')

print count_survived_by_class_df
print percent_survived_by_class_df

   Pclass  Survived  deceased
0       1       120        64
1       2        83        90
2       3        85       270
   Pclass  percentAlive  percentDeceased
0       1     65.217391        34.782609
1       2     47.976879        52.023121
2       3     23.943662        76.056338

In [71]:
#Determines relationship between class and survival


percent_group_by_sex_class = group_by_survived_percent(titanic_df_cleaned,['Pclass','Sex'])
count_group_by_sex_class  = group_by_survived_count(titanic_df_cleaned,['Pclass','Sex'])
print percent_group_by_sex_class
print count_group_by_sex_class
percent_group_by_sex_class.plot.bar(stacked=True,x=['Pclass','Sex'],y=['percentAlive','percentDeceased'])
plt.show()
#group_by_sex_class = group_by_sex.groupby('Pclass').sum()['Survived']

   Pclass     Sex  percentAlive  percentDeceased
0       1  female     96.385542         3.614458
1       1    male     39.603960        60.396040
2       2  female     91.891892         8.108108
3       2    male     15.151515        84.848485
4       3  female     46.078431        53.921569
5       3    male     15.019763        84.980237
   Pclass     Sex  Survived  deceased
0       1  female        80         3
1       1    male        40        61
2       2  female        68         6
3       2    male        15        84
4       3  female        47        55
5       3    male        38       215

In [73]:
#Determines relationship between Embarking and survival
percent_group_by_embark_df = group_by_survived_percent(titanic_df_cleaned,'Embarked')
count_group_by_embark_df   = group_by_survived_count(titanic_df_cleaned,'Embarked')

print count_group_by_embark_df
print percent_group_by_embark_df

  Embarked  Survived  deceased
0        C        79        51
1        Q         8        20
2        S       201       353
  Embarked  percentAlive  percentDeceased
0        C     60.769231        39.230769
1        Q     28.571429        71.428571
2        S     36.281588        63.718412

In [18]:
#Determine relationship between 

percent_group_by_embark_class = group_by_survived_percent(titanic_df_cleaned,['Embarked','Pclass','Sex'])

#group_by_sex.plot(kind='bar')

print percent_group_by_embark_class

   Embarked  Pclass     Sex  percentAlive  percentDeceased
0         C       1  female     97.368421         2.631579
1         C       1    male     44.444444        55.555556
2         C       2  female    100.000000         0.000000
3         C       2    male     12.500000        87.500000
4         C       3  female     68.750000        31.250000
5         C       3    male     28.000000        72.000000
6         Q       1  female    100.000000         0.000000
7         Q       1    male      0.000000       100.000000
8         Q       2  female    100.000000         0.000000
9         Q       2    male      0.000000       100.000000
10        Q       3  female     50.000000        50.000000
11        Q       3    male      7.142857        92.857143
12        S       1  female     95.454545         4.545455
13        S       1    male     37.500000        62.500000
14        S       2  female     90.909091         9.090909
15        S       2    male     15.555556        84.444444
16        S       3  female     40.789474        59.210526
17        S       3    male     14.018692        85.981308

In [83]:
survival_by_age_group = titanic_df_cleaned.groupby(pd.cut(titanic_df_cleaned['Age'],np.arange(0,100,18))).sum()
survival_by_age_group_count = titanic_df_cleaned.groupby(pd.cut(titanic_df_cleaned['Age'],np.arange(0,100,18))).count()
survival_by_age_group['count'] = survival_by_age_group_count['Survived']


#print survival_by_age_group_count
print survival_by_age_group

          PassengerId  Survived  Pclass       Age  SibSp  Parch        Fare  \
Age
(0, 18]         61924        70     356   1489.67    175    130   4517.6002
(18, 36]       169412       148     889  10313.00    124     87  12032.7118
(36, 54]        70853        58     287   6760.50     61     79   6267.8419
(54, 72]        15724        11      59   2388.00      6     12   1755.9541
(72, 90]         1483         1       4    154.00      0      0     37.7750

          count
Age
(0, 18]     139
(18, 36]    380
(36, 54]    152
(54, 72]     39
(72, 90]      2

In [32]:
#Visualization 

#group_by_sex = titanic_df_cleaned.groupby('Sex').size()

#print group_by_sex

#plt.hist(x=group_by_sex['Sex'],y = group_by_sex.values )



#group_by_sex.plot(kind='bar')
#percent_group_by_embark_class.plot(kind='bar',stacked=True)
#percent_group_by_embark_df = pd.DataFrame(percent_group_by_embark).reset_index()

#percent_group_by_embark_df = percent_group_by_embark_df.rename(columns={0: 'percentAlive'})
#percent_group_by_embark_df['percentDeceased'] = (100 - percent_group_by_embark_df['percentAlive']) 
#percent_group_by_embark_df.plot.bar(stacked=True)
percent_group_by_embark_class.plot.bar(stacked=True,x=['Embarked','Pclass','Sex'],y=['percentAlive','percentDeceased'])


print percent_group_by_embark_df
plt.show()
#group_by_sex['died'] = titanic_df_cleaned.groupby('Sex').size() - titanic_df_cleaned.groupby('Sex').sum()['Survived']


#print titanic_df_cleaned.groupby('Sex').sum()['Survived']

  Embarked  percentAlive  percentDeceased
0        C     60.769231        39.230769
1        Q     28.571429        71.428571
2        S     36.281588        63.718412